h1,
h2 {
    margin: 0;
}

/* Contêiner do formulário */
.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 20px 0;    
}

#index {
    height: 100vh;
}

#large-form {
    display: flex;
    flex-direction: column;
}

.card-form{
    background-color: #8f94fb;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

#large-form form {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#large-form .input-group {
    width: 25vw;
}

#large-form .form-title {
    align-self: flex-start;
    margin-bottom: 0.5em;
}

form {
    background-color: #8f94fb;
    color: #ffffff;
    padding: 30px;
    border-radius: 12px;
    display: grid;
    gap: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Título */
.form-title {
    font-size: 1.6rem;
    font-weight: bold;
    color: #4e54c8;
    text-align: center;
}

/* Grupos do formulário */
.form-group {
    margin-bottom: 15px;
    text-align: left;
}

/* Labels */
label {
    font-size: 0.9rem;
    margin-bottom: 5px;
    display: block;
    font-weight: bold;
    color: #4e54c8;
}

/* Campo de entrada */
.input-group {
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    background-color: #f9f9f9;
}

.input-group select {
    width: 100%;
    padding: 1em;
    border: none;
}

.input-group-text {
    background-color: #4e54c8;
    color: #fff;
    padding: 15px 15px;
    border: none;
    display: flex;
    align-items: center;
}

.form-control {
    border: none;
    outline: none;
    padding: 10px;
    flex: 1;
    font-size: 1rem;
    background-color: transparent;
    color: #333;
}

.checkbox-group {
    display: flex;
    width: 20em;
    flex-wrap: wrap;
    justify-content: center;
    justify-self: center;
    gap: .5em;
    align-items: center;
}

.checkbox-group label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .5em;
    border-radius: 12px;
    background-color: #000000;
    color: white;
}

.form-control::placeholder {
    color: #aaa;
}

/* Botão */
.btn-block {
    width: 100%;
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #4e54c8;
    color: #fff;
    border: none;
    transition: background 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-submit-container{
    display: flex;
    width: 100%;
    justify-content: end;
    align-items: end;
}

.btn-block-large{
    padding: 12px;
    font-size: 1rem;
    font-weight: bold;
    border-radius: 8px;
    background-color: #4e54c8;
    color: #fff;
    border: none;
    transition: background 0.3s ease;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.btn-block-large:hover{
    background: linear-gradient(135deg, #3e44b1, #7679e2);
    cursor: pointer;
}

.btn-block:hover {
    background: linear-gradient(135deg, #3e44b1, #7679e2);
    cursor: pointer;
}

/* Responsividade */
@media (max-width: 768px) {
    form {
        padding: 20px;
    }

    .card {
        padding: 15px;
    }
}