body {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    height: 3em;
    background-color: #fff;

}

.left {
    display: flex;
    gap: 1em;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.left img {
    height: 100%;
}

.right {
    display: flex;
}

.right a {
    color: #fff;
    padding: 1em;
    border-radius: 1em;
    text-decoration: none;
    background-color: #A06CD5;
    transition: .3s;

}

.right a:hover {
    background-color: #60437c;
}