.catalog-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4e54c8;
    text-align: center;
}

/* Lista de produtos */
.product-list {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.product-item {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    width: 15em;
    height: 20em;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 0px 15px;
    color: #333;
}

.product-image {
    max-width: 100%;
    height: 50%;
    object-fit: scale-down;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.product-name {
    font-size: 1.5rem;
    font-weight: bold;
    color: #4e54c8;
    margin: 0;
}

.product-price {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 0;
    color: #4e54c8;
}

.btn-add-cart {
    padding: 10px 15px;
    font-size: 1rem;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    color: #fff;
    cursor: pointer;
    transition: background 0.3s ease;
}

.btn-add-cart:hover {
    background: linear-gradient(135deg, #3e44b1, #7679e2);
}