.catalog-title {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 20px;
    color: #4e54c8;
    text-align: center;
}

/* Lista de produtos */
.product-list {
    display: flex;
    flex-direction: column;
    gap: 40px;
}

/* Container de grupo */
.group-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.group-title {
    font-size: 1.5rem;
    font-weight: bold;
    color: #333;
    text-align: left;
    margin-left: 20px;
}

/* Lista de produtos dentro de um grupo */
.group-products {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 10px;
}

.product-item {
    background-color: #f9f9f9;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 12px;
    width: 15em;
    height: 20em;
    padding: 20px;
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
    color: #333;
    flex: 0 0 auto;
}

.product-image {
    max-width: 100%;
    height: 50%;
    object-fit: scale-down;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px;
}

.product-name {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.product-price {
    font-size: 1rem;
    color: #4e54c8;
    margin-bottom: 5px;
}

.btn-add-cart {
    background-color: #4e54c8;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-add-cart:hover {
    background-color: #3b3f9a;
}